 

main {
    color: #000000;
    font-weight: bold;
    position: absolute;
    
    
  }

font-family:calibri
#testo-halloween{
  margin-top: 8%;
  color:#000000;
  
}

#testo-scuola{
  color: #D5EDF6;
}

#testo-moda{
  color: #fffaf3;
}
img {
max-width: 300px;
max-height: 300px;
border-radius: 30px;
}

#NY{
  background-image: url(NY.jpg);

#Testo-NY{
  color:#a459fa
}

}
#soffiate{
  background-image: url(24.jpg);
}

#estate{
  background-image: url(estate.jpg)
}
#moda{
  background-image: url(fashion.jpg)
  
}

#halloween {
background-image:url(img1.jpeg);
filter: brightness(50%);
background-size: contain;
img:hover {
  background-image:url(img1.jpeg);
}
}


#scuola {
background-image: url(school.jpeg); }

div.inline-images {
  display: inline-block;
}

div.inline-images img {
  width: 300px;
  height: 300px;
}


/* CSS */
.button-51 {
  background-color: transparent;
  border: 1px solid #266DB6;
  box-sizing: border-box;
  color: #00132C;
  font-family: "Avenir Next LT W01 Bold",sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  padding: 16px 23px;
  position: relative;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-51:hover,
.button-51:active {
  outline: 0;
}

.button-51:hover {
  background-color: transparent;
  cursor: pointer;
}

.button-51:before {
  background-color: #D5EDF6;
  content: "";
  height: calc(100% + 3px);
  position: absolute;
  right: -7px;
  top: -9px;
  transition: background-color 300ms ease-in;
  width: 100%;
  z-index: -1;
}

.button-51:hover:before {
  background-color: #6DCFF6;
}

@media (min-width: 768px) {
  .button-51 {
    padding: 16px 32px;
  }
}

#archivies.html background-image::content